@font-face {
    font-family: metropolis;
    src: url("../fonts/Metropolis-Regular.woff"), url("../fonts/Metropolis-SemiBold.woff2"), url("../fonts/Metropolis-Bold.woff"), url("../fonts/Metropolis-Bold.woff2");
}
body{
    font-family: metropolis;
}

a{
    color: #db3022;
    font-family: metropolis;
}

a:hover{
    color: #af2418;
}
 
.header .logo{
    margin-bottom: 40px;
}

.header .message{
    margin-bottom: 50px;
    font-weight: bold;
}

.switch{
    margin-bottom: 40px;
}

.switch .btn{
    height: 48px;
    width: 123px;
}

.auth .btn-primary{
    border-radius: 25px;
    height: 48px;
}

.btn-primary, .btn-secondary:hover{
    background: #db3022;
    color: #fff;
    border-color: #db3022;

}

.btn-secondary{
    background: #fff;
    color: #9b9b9b;
    border-color: #9b9b9b;
}

.btn-primary:hover{
    background: #af2418;
    border-color: #af2418;
}

.auth-input{
    width: 400px;
}

.auth-input .form-control{
    margin-bottom: 18px;
}

.quest-wrapper{
    margin-top: 15px;
    margin-bottom: 15px;
}

nav{
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
    margin-bottom: 40px;
}

.search-wrapper{
    position: relative;
}

.search-wrapper .form-control{
    width: 507px;
    border: 1px solid #8E8E93;
    border-radius: 23px;
    height: 40px;
}

.search-wrapper img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.form-inline button{
    border: 1px solid #8E8E93;
    background: #FFFFFF;
    border-radius: 12px;
    height: 38px;
    width: 38px;
    margin-left: 5px;
}

.container .auth{
    width: 20%;
    
}

.auth .login{
    border-radius: 24px;
    width: 100px;
    height: 40px;
    color:white;
    background: #DB3022;
    border: 1px solid #9B9B9B;
}

.auth .signup{
    color: #9B9B9B;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    border-radius: 24px;
    width: 100px;
    height: 40px;
}

.container .nav-icon{
    width: 22%;
}

.carousel-item{
    display: inline-block;
}

.container h1{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 30px;
}

.row .col-8 .card ,.col-4 .card{
    margin-bottom: 15px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
}

.card .second{
    height: 126px;
}

.card .card-body .two{
    color:#8E8E93 ;
}

.card .card-body .three{
    color: #DB3022;
    float: right;
}

.card-body .caption .nama-toko{
    width: 255px;
}

.card-body .caption .nama-toko .toko{
    font-size: 12px;
    color: #8e8e93;
}

.card-body .caption .ikon-plus-minus{
    margin-left: 35px;
}

.card-body .caption .ikon-plus-minus .minus{
    border: 1px solid #D5D5D5;
    background: #D5D5D5;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.card-body .caption .ikon-plus-minus .plus{
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.card-body .caption .ikon-plus-minus p{
    font-size: 16px;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 0;
    margin-top: 5px;
}

.card-body .caption .harga, .card-body .harga{
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-bottom: 0;
    margin-top: 5px;
}

.col-4 .card .card-body h3{
    font-size: 20px;
    margin-bottom: 30px;
}

.col-4 .card .card-body p{
    color:#8e8e93 ;
}

.col-4 .card .card-body button{
    width: 100%;
    height: 36px;
    border-radius: 25px;
    background: #DB3022;
    margin-top: 15px;
    border: 3px solid #DB3022;
    color: #FFFFFF;
}

.card .first h5{
    font-weight: bold;
    font-size: 16px;
}

.card .first p{
    font-size: 14px;
}

.card .first button{
    width: 210px;
    height: 36px;
    border: 1px solid #9B9B9B;
    border-radius: 24px;
    background-color: #FFFFFF;
    color: #9B9B9B;
    margin-top: 10px;
}

.card .padding{
    padding-left: 30px;
    padding-top: 30px;
    height: 190px;
}

.card .card-body .order{
    margin-bottom: 5px;
}

.card .card-body .summary p{
    color: #222222;
    font-weight: bold;
}

.card .card-body .summary .harga{
    color: #DB3022;
    font-weight: bold;
}